{% extends 'main/base.html' %} 
{% block title %} Create a Report {% endblock %}
{% load crispy_forms_tags %} 


<style>
    .box {
        border: 1px solid black;
        padding: 10px;
        width: 300px;
        margin: 25px;
       }
       
       /* The style inside the box */
       .box-style {
        color: red;
        font-size: 14px;
        }
</style>


{% block content %}
  <h1>Discussion Page</h1>

  
  <!-- Display all discussions related to the specific report -->
  <div class="box" style="font-size: 14px; 
        border: 1px solid #f2f2f2;
        padding: 10px;
        width: 100dp;
        border-radius: 5px;
        margin: 25px;">
  {% for discussion in discussions %}
    {% if discussion.report.id == report.id %}
    <small>{{ discussion.report.id }} {{ discussion.report.Name }} {{ discussion.report.date_created }}: <small>
    
    <div class="box-style">
        <p style="font-size: 14px; 
        background-color: #f2f2f2;
        padding: 10px;
        width: 300dp;
        border-radius: 5px;
        margin: 25px;" ><strong>{{ discussion.author }}</strong> : <small style="text-color: gray;">{{ discussion.date_created }}</small> <br>{{ discussion.text }}</p>
      </div>
    {% endif %}
  {% endfor %}
  </div>

{% endblock %}
