<style>
    .card {
        border: 1px solid #000; /* Add a border */
        border-radius: 10px; /* Round the corners */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for a 3D effect */
        padding: 10px; /* Add some padding */
        margin-left: 10px 0; /* Add some margin */
    }

    .btr_resolve {
        background-color: #114b44;
        padding: 10px;
        border-radius: 10px;
        color: white;
        width: 100px;
    }
    input[type=submit] {
        background-color: #114b44;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    form[method=GET]{
        padding: 10px;
    }
    
    #expandButton {
        background-color: #114b44;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    #additional_padding {
        padding: 10px;
    }

    .row {
        display: flex;
    }
    
    .col {
        flex: 1;
        padding: 10px;
        border: 1px;
        
    }

    .col-smaller {
        flex: 0.5;
        text-align: right;
    }
</style>


{% extends 'main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="additional_padding">
<button id="expandButton" type="button">Search</button>
</div>

<div id="expandableSection" style="display: none;">
    <form method="get">
        <label for="date">Search by date:</label>
        <input type="date" id="date" name="date">
        <input type="submit" value="Search">
    </form>

    <form method="get">
        <label for="title">Search by title:</label>
        <input type="text" id="title" name="title">
        <input type="submit" value="Search">
    </form>
</div>


{% for post in posts %}
    <div class="card mt-2">
       
        <div class="card-body">
        <div class="row">   
            <div class="col">
                <bold><h2 class="card-title">{{ post.title }}</h2></bold>
                <p>{{ post.description }}</p>
                
            </div>
            <div class="col"> </div>
            <div class="col-smaller"> 
              
               <form method="DELETE">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"><div class="btr_resolve"> Resolve. </div> </button>   
                </form>
                <form method="CONTACT">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"><div class="btr_resolve"> Contact </div> </button>   
                </form>
                
            </div>

        </div>
        <div class="card-footer text-muted">
            <p><small>Posted by {{ post.author }} on {{ post.date_created }}</small></p> 
        </div>
    </div>
    </div>


{% empty %}
    <p>No posts here yet ....</p>
{% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        $("#expandButton").click(function(){
            $("#expandableSection").slideToggle();
        });
        });
    </script>
{% endblock %}
