{% extends 'main/base.html' %} 
{% block title %} Create a Report {% endblock %}
{% load crispy_forms_tags %} 
{% block content %}

<style> 
    
    .report { 
        width: 300px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        padding: 16px; 
        margin: 16px; 
        display: inline-block; 
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    } 
    .report h2 {
        margin-top: 0; 
    } 
    .report img { 
        width: 100%; 
        height: auto; 
    } 
    .report p { 
        margin: 8px 0; 
    } 
    .report .author { 
        font-weight: bold; 
    } 
    .report form { 
        display: inline-block; 
    } 
    form input[type="submit"] {
        background-color: #114b40;
        color: white;
        cursor: pointer;
        border-radius: 5px; 
        padding: 10px 20px;
        align: center;

        
    }
    
    form input[type="submit"]:hover {
        background-color: #114b65;
    }
    .form-grid input {
        width:50%;
        border-radius: 5px; 
        padding: 5px 2px;
    }
   
    }    
    align_left {
        padding-left: 50px;
    }
    .form-grid {
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
    }



    .ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 50px;
        justify-content: center;
    }
    @media screen and (max-width: 600px) {
        .ul {
            grid-template-columns: 1fr;
        }
    }
    .dis{
        background-color: #114b40;
        color: white;
        cursor: pointer;
        border-radius: 5px; 
        padding: 10px 20px;
        align: center;
        text-decoration: none;
      
    }
    
    
</style>

<form method="GET" action="" class="form-grid" >
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="brand" placeholder="Brand">
    <input type="text" name="location" placeholder="Location">
    <input type="text" name="category" placeholder="Category">
    <input type="text" name="author" placeholder="Author">
    
    <input type="date" name="date">
    <input type="submit" value="Search">
</form>

    <ul class="ul">
        {% for report in reports %}
        {% if not report.is_resolved %}
        <div class="report">
            <li>
                <p><strong>{{ report.author }}</strong> </p>
                <h2>{{ report.Name }}</h2>
                <p><strong>Brand:</strong> {{ report.Brand }}</p>
                <p><strong>Location:</strong> {{ report.Location }}</p>
                <p><strong>Category:</strong> {{ report.Category }}</p>
                
                <p><strong>Reported:</strong> {{ report.date_created }}</p>
                <p><i>{{ report.description }}</i></p>
                <br>
                
                

                <br>
                <div id="align_left"><small>{{ report.date_updated }}</small></div>

                <div class="comments">
                    {% for discussion in discussions %}
                        {% if discussion.report.id == report.id %}
                            <p><strong>{{ discussion.author }}</strong> {{ discussion.text }}</p>
                            {% else %}
                            <p>No comments yet</p>
                            {% endif %}
                        
                    {% endfor %}
                    <form method="POST" action="{% url 'add_comment' report.id %}">
                        {% csrf_token %}
                        <input type="text" name="text">
                        <br>
                        <br>
                        <input type="submit" value="Comment">
                        <br>
                        <br>
                        <a href="{% url 'discussion_page' report.id %}" class="dis">Discussion</a>
                           <br>
                        <br>
                        
                    </form>

                    {% if user == report.author or user.is_staff %}
                    <form method="POST" action="{% url 'delete_report' report.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                    <form method="POST" action="{% url 'resolve_report' report.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Resolve">
                    </form>
                    
                    {% endif %}
                </div>
            </li>

        </div>
        {% endif %}
        {% endfor %}
    </ul>

    {% for discussion in discussions %}
    <small>{{ discussion.report.id }}</small>
     
     <p><small>{{ discussion.date_created}} </small><strong>{{ discussion.author }}</strong> {{ discussion.text }} </p>
   {% endfor %}
{% endblock %}