{% extends 'main/base.html' %} 
{% block title %} Create a Report {% endblock %}
{% load crispy_forms_tags %} 
{% block content %}

<style> 
    
    .report { 
        width: 300px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        padding: 16px; 
        margin: 16px; 
        display: inline-block; 
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    } 
    .report h2 {
        margin-top: 0; 
    } 
    .report img { 
        width: 100%; 
        height: auto; 
    } 
    .report p { 
        margin: 8px 0; 
    } 
    .report .author { 
        font-weight: bold; 
    } 
    .report form { 
        display: inline-block; 
    } 
    form input[type="submit"] {
        background-color: #114b40;
        color: white;
        cursor: pointer;
        border-radius: 5px; 
        padding: 10px 20px;
        
    }
    
    form input[type="submit"]:hover {
        background-color: #114b44;
    }
    
    align_left {
        padding-left: 50px;
    }
    
    
</style>

    <ul>
        {% for report in reports %}
        <div class="report">
            <li>
                <p><strong>{{ report.author }}</strong> </p>
                <h2>{{ report.Name }}</h2>
                <p><strong>Brand:</strong> {{ report.Brand }}</p>
                <p><strong>Location:</strong> {{ report.Location }}</p>
                <p><strong>Category:</strong> {{ report.Category }}</p>
                
                <p><strong>Reported:</strong> {{ report.date_created }}</p>
                <p><i>{{ report.description }}</i></p>
                <br>
                <img src="{{ report.image_link }}" alt="{{ report.Name }}">
                <div id="align_left"><small>{{ report.date_updated }}</small></div>
            
            </li>
        </div>
        {% endfor %}
    </ul>


{% endblock %}