{% extends 'main/base.html' %} 
{% block title %} Create a Report {% endblock %}
{% load crispy_forms_tags %} 


<style>
    .box {
        border: 1px solid black;
        padding: 10px;
        width: 300px;
        margin: 25px;
       }
       
       /* The style inside the box */
       .box-style {
        color: red;
        font-size: 14px;
        }
</style>


{% block content %}
  <h1>Discussion Page</h1>

  <p>This is the discussion page for report with id: {{ discussion.report.id }}</p>

  <!-- Display all discussions related to the specific report -->
  <div class="box">
  {% for discussion in discussions %}
    {% if discussion.report.id == report.id %}
    <div class="box-style">
        <p><small>{{ discussion.date_created }}</small> <strong>{{ discussion.author }}</strong> {{ discussion.text }}</p>
      </div>
    {% endif %}
  {% endfor %}
  </div>

  <h2>Discussion</h2>
  <!-- Here you can add the discussion related content -->

{% endblock %}
