<style>
    #box{
        padding-left: 100px;
        padding-top: 300px;
    }
</style>
{% extends 'main/base.html' %} 
{% block title %} Chat Room {% endblock %}
{% load crispy_forms_tags %} 
{% block content %}

<div id="box">
<h1>{{ chat_room.name }}</h1>

{% for message in chat_room.message_set.all %}
    <p>
        <strong>{{ message.user.username }}</strong>: {{ message.text }}
    </p>
{% endfor %}

<form method="post" action="{% url 'send_message' chat_room.id %}">
    {% csrf_token %}
    <input type="text" name="text">
    <button type="submit">Send</button>
</form>
<div>
{% endblock %}