@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
 

    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    
}
.container::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    top: -10%;
    right: 48%;
    background-color: black;
    transform:translateY(-70%);
    border-radius: 40%;
    z-index: 6;
    transition: 1.8s ease-in-out;

}

.form-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;

    
}

form.signin{
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 250px 0px;
    border-radius: 60% 0 0 10% ;

    z-index: 2;
}
.slogan{
    font-size: 2rem;
    padding-bottom:50px ;
    font-weight: 900;
    font-style: italic;
    text-shadow:1px 1px 3px black;
}
form.signin .image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 0 10px #fff;
}


form {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

input {
    padding: 15px 30px;
    margin: 15px ;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-field{
    display: flex;
    align-items: center;

}
.input-field svg{
    margin-right: 10px;
    width: 24px;
    height: 24px;

}

#submit {
    font-weight: 800;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

#submit:hover {
    background-color: gray;
    border:1px solid black;
    color: black;
}

.image{
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
    

}
.panels-container {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
.panel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    z-index: 6;

}


.site-title img{
    padding: 0px;

    height: 100px;

}
.left-panel{
    pointer-events: all;

}
.left-panel img{
    padding:0 17% 6rem 12% ;

}
.left-panel .site-title img{
    padding: 0;
}


.content h1{
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    text-align: left;
    padding-left: 1.5rem;

}
.content .slogan {
    font-size: 2rem;
}




.site-title{
    padding: 1rem;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    font-style: italic;
    font-stretch: expanded;

}
  

